@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.event-manager {
  background-color: #1b2329; /* Background color */
  background-image: url('../../public/PalmeraCity.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px 0px; /* Adds space above and below the form */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.94); /* Adjust the scale factor */
  }
  100% {
    transform: scale(1);
  }
}

.event-manager::before {
  content: "";
  background-image: url('../../public/BlueBeetle.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 2.2%;
  bottom: 0;
  width: 600px;
  height: 800px;
  z-index: 3;
  animation: pulse 4s infinite; /* Apply the pulse animation */
}

.event-manager::after {
  content: "";
  background: rgba(27, 35, 41, 0.30); /* Semi-transparent background color with 73% opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Positioned below the form and above the background image */
  pointer-events: none; /* Ensures clicks pass through */
}

.event-form {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px; /* Equal padding on all sides of the form */
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 20px; /* Adds equal space between form and screen edges */
  position: relative;
  z-index: 2; /* Keeps form above BlueBeetle image and overlay */
  font-family: 'Bangers', cursive; /* Apply comic book font */
}

.event-form h1,
.event-form h2 {
  color: #107faa;
}

.event-form h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.event-form h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.event-form input[type="date"] {
  padding: 8px;
  font-family: 'Bangers', cursive; /* Apply comic book font */
}

.event-form input,
.event-form textarea,
.event-form select {
  width: 100%;
  padding: 10px; /* Equal padding inside input boxes */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding doesn't overflow the box */
  font-family: 'Bangers', cursive; /* Apply comic book font */
}

.event-form button {
  width: 50%;
  padding: 10px;
  background-color: #FFA500;
  color: #003049;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Bangers', cursive; /* Apply comic book font */
}

.event-form button:hover {
  background-color: #ff8c00;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  color: #003049;
  margin-bottom: 5px;
  font-family: 'Bangers', cursive; /* Apply comic book font */
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px; /* Equal padding inside input boxes */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding doesn't overflow the box */
  font-family: 'Bangers', cursive; /* Apply comic book font */
}

.form-group select[multiple] {
  height: 100px;
}