.event-manager {
  background-color: #1b2329;
  background-image: url('../../public/PalmeraCity.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Ensures the form is horizontally centered */
  align-items: center; /* Vertically centers the form */
  position: relative;
  padding: 60px 0;
  min-height: 100vh;
  width: 100%;
}

.event-manager::before {
  content: "";
  background-image: url('../../public/BlueBeetle.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1%; /* Adjust the position to overlap slightly with the form */
  bottom: 0;
  width: 30%; /* Adjust this size as needed */
  height: 500px;
  z-index: 3;
  animation: pulse 4s infinite;
}

.event-form {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 10px;
  max-width: 450px;    /* Set a max width for the form */
  width: 100%;          /* Make sure the form takes the full width */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;          /* Keep the form above the background */
  
  /* Centering the form */
  position: absolute;   /* Change to absolute positioning */
  top: 50%;             /* Position from the top */
  left: 50%;            /* Position from the left */
  transform: translate(-50%, -50%); /* Center it using transform */
}

.event-form h1,
.event-form h2 {
  color: #107faa;
}

.event-form h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.event-form h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.event-form input[type="date"] {
  padding: 8px;
  font-family: 'Bangers', cursive;
}

.event-form input,
.event-form textarea,
.event-form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
}

.event-form button {
  width: 50%;
  padding: 10px;
  background-color: #FFA500;
  color: #003049;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Bangers', cursive;
}

.event-form button:hover {
  background-color: #ff8c00;
}
